{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Connexion{% endblock %}</title>
</head>
<body>
     
    {% block content %}
    <header>
        <a href="{% url 'index_name' %}"><img class='logo' src="../../static\shopmiam.png" alt="logo"></a>
        <nav>
            <ul style="list-style:none;">
                <li style="display:inline-block;"><a href="{% url 'index_name' %}">Accueil</a></li>
                <li style="display:inline-block;"><a href="{% url 'inscription_name' %}">S'inscrire</a></li>
            </ul>
        </nav>
    </header>
 <main class="formulaire">
    <div class="formulaire">
    <form action=""   method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Se connecter</button>
    </form>
    </div>
    {% endblock  %}

    <footer> 
        <img class="footer_logo" src="../../static/shopmiam.png" alt="logo">
        <span class="footer">Copyright &copy 2022 <i>Shopmiam.</i> All Right Reserved</span>
    </footer>
</main>
</body>
</html>